{% extends 'base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Confirm Password Reset | Human Spaceflight API' %}{% endblock title %}

<!-- Account area content -->
{% block account_page_content %}
    <!-- Card header -->
    <div class="d-flex align-items-center text-uppercase mb-4">
		<i class="fas fa-key fa-2x grey-text pr-3"></i>
		<h4 class="h4-responsive m-0">{% trans 'Password Reset' %}</h4>
	</div>
    <!-- /.Card header -->
    <!-- Card content -->
    <p>
        {% trans 'We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.' %}
    </p>
    <!-- /.Card content -->
{% endblock account_page_content %}
<!-- /.Account area content -->