<!-- templates/missions/mission_detail.html -->

{% extends 'base_table.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}{{ mission.name }} | Human Spaceflight API{% endblock title %}
<!-- /.Tab title -->

<!-- Mission area content -->
{% block table_page_content %}
	<!-- Section: Mission detail info -->
    <section id="mission-detail-" class="container">
        <h5>{{ mission.name }}</h5>
        <hr></hr>
        <p>Type: {{  mission.type }}</p>
        <p>Agency: {{  mission.agency }}</p>
        <p>Duration: {{  mission.duration_secs }}</p>
        <p>Distance (km): {{ mission.distance_travelled_km }}</p>
        <p>Distance (nmi): {{ mission.distance_travelled_nmi }}</p>
        <p>Launch Date/Time: {{ mission.launch_date_time|date:"d M Y / H:i:s" }}</p>
        <p>Crew Size: {{  mission.crew_size }}</p>
        <p>Crew Members: {{  mission.crew_members }}</p>
        <p>Mission Patch: {{ mission.image_mission_patch }}</p>
    </section>
    <!--/section-->
    <!-- /.EVA detail info -->
</main>
{% endblock table_page_content %}
<!-- /.EVA area content -->