html, body, header,
#banner-one {
  height: 65vh;
}

#banner-two, #banner-three {
  height: 55vh;
}

#banner-one, #banner-two, #banner-three {
  /*background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}