<!-- templates/astronauts/astronaut_list.html -->

{% extends 'base_table.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}{% trans 'Astronauts | Space Pioneers API' %}{% endblock title %}
<!-- /.Tab title -->

<!-- Astronaut area content -->
{% block table_page_content %}
	<!-- Section: Astronaut list -->
    <section id="astronaut-list" class="container">
        <h5>List of Astronauts/Cosmonauts</h5>
        <!--hr></hr-->
        <table id="paginationSimpleNumbers" class="text-white table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col">Name (Last, First)</th>
                    <th scope="col">Nationality</th>
                    <th class="text-right" scope="col">First Space Mission</th>
                    <th class="text-right" scope="col">Career Space Time</th>
                </tr>
            </thead>
            <tbody>
            {% for astronaut in astronaut_list %} 
                <tr>
                    <td><a href="{{ astronaut.get_absolute_url }}">{{ astronaut.get_full_astronaut_name }}</a></td>
                    <td>{{ astronaut.nationality }}</td>
                    <td class="text-right">{{ astronaut.first_time_in_space_date|date:"d M Y" }}</td>
                    <td class="text-right">{{ astronaut.total_duration_space_secs }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <!--/section-->
    <!-- /.Astronaut list info -->
</main>
{% endblock table_page_content %}
<!-- /.Astronaut area content -->
