<!-- templates/evas/eva_detail.html -->

{% extends 'base_table.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}EVA-{{ eva.code|stringformat:"04d" }} | Human Spaceflight API{% endblock title %}
<!-- /.Tab title -->

<!-- Eva area content -->
{% block table_page_content %}
	<!-- Section: Eva detail info -->
    <section id="eva-detail-" class="container">
        <h5>{{ eva.code|stringformat:"04d" }}</h5>
        <hr></hr>
        <p>EVA: {{ eva.code|stringformat:"04d" }}</p>
        <p>Astronaut: {{ eva.get_full_astronaut_name }}</p>
        <p>Type: {{  eva.get_type_display }}</p>
        <p>Date: {{  eva.date }}</p>
        <p>Duration: {{  eva.duration_secs }}</p>
        <p>Tethered/untethered: {{ eva.get_tethered_display }}</p>
        <p>Planned/unplanned: {{ eva.get_planned_display }}</p>
        <p>Notes: {{ eva.notes }}</p>
        <p>Image: {{ eva.image_photo }}</p>
    </section>
    <!--/section-->
    <!-- /.Eva detail info -->
</main>
{% endblock table_page_content %}
<!-- /.Eva area content -->