<!-- templates/evas/eva_list.html -->

{% extends 'base_table.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}{% trans 'EVAs | Space Pioneers API' %}{% endblock title %}
<!-- /.Tab title -->

<!-- Eva area content -->
{% block table_page_content %}
	<!-- Section: Eva list -->
    <section id="eva-list" class="container">
        <h5>List of EVAs</h5>
        <!--hr></hr-->
        <table id="paginationSimpleNumbers" class="text-white table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col">EVA</th>
                    <th scope="col">Astronaut</th>
                    <th scope="col">Type</th>
                    <th class="text-right" scope="col">Date</th>
                    <th class="text-right" scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
            {% for eva in eva_list %} 
                <tr>
                    <!-- Note formatting for padded zeros -->
                    <td><a href="{{ eva.get_absolute_url }}">EVA-{{ eva.code|stringformat:"04d" }}</a></td>
                    <td>{{ eva.astronaut.get_full_astronaut_name }}</td>
                    <!-- for type to display correctly instead of <choice abbr. code> need to specify <model_class>.get_<fieldname>_display, see line below -->
                    <td>{{ eva.get_type_display }}</td>
                    <td class="text-right">{{ eva.date|date:"d M Y" }}</td>
                    <td class="text-right">{{ eva.duration_secs }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <!--/section-->
    <!-- /.Eva list info -->
</main>
{% endblock table_page_content %}
<!-- /.Eva area content -->
