<!-- templates/agencies/_base_apis_general.html -->
<!-- Create _base_apis_general.html for all api related pages -->
{% extends '_base.html' %}
{% load static %}
{% load i18n %}

<!-- Extra CSS -->
{% block extra_css %}
<!-- DataTables CSS -->
<link
    href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    rel="stylesheet"
/>
<!-- Local project CSS -->
<link
    href="{% static "apis_general/css/_base_apis_general.css" %}"
    rel="stylesheet"
/>
{% endblock extra_css %}
<!-- Extra CSS -->

<!-- Main Page content -->
{% block page_content %}
<main>
    <!-- Section: Agencies page content -->
    <!-- Background image -->
    <section id="background-img"
        class="view"
        style="background-image: url('{% static "apis_general/images/apis_general_bkg_img.png" %}');";>
        <!--img src="{% static 'pages/images/home_banner_1.jpg' %}" class="img-fluid" alt="My image"-->
        <!-- Mask -->
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="container align-items-center justify-content-center">
                <!-- Grid row -->
                <div class="row d-flex">
                    <!-- Grid column -->
                    <div class="col-md-8 py-5 my-5">
                        <!-- Form -->
                        <div class="card">
                            <div class="card-body text-white z-depth-2 px-4">
                                <!-- Account area content -->
                                {% block apis_general_page_content %}  
                                    <!-- Override this in account-based (allauth) templates to add extra page content -->
                                {% endblock apis_general_page_content %}
                                <!-- /.Account area content -->
                            </div>
                        </div>
                        <!-- /.Form -->
                    </div>
                    <!-- /.Grid column -->
                </div>
                <!-- /.Grid row -->
            </div>
            <!-- /.Content -->
        </div>
        <!-- /.Mask -->
    </section>
    <!-- /.Background image -->
    <!-- /.Section: Account page content -->
</main>

{% endblock page_content %}
<!-- /.Main page content -->

{% block extra_js %}
<!-- DataTables JS -->
<script
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
</script>
<script
    src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js">
</script>
<!-- Local project JS -->
<script
    src="{% static 'apis_general/js/_base_apis_general.js' %}">
</script>
{% endblock extra_js %}