<!-- templates/agencies/agency_list.html -->

{% extends 'base_table.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}{% trans 'Agencies | Human Spaceflight API' %}{% endblock title %}
<!-- /.Tab title -->

<!-- Agency area content -->
{% block table_page_content %}
	<!-- Section: Agency list -->
    <section id="agency-list" class="container">
        <h5>List of Space Agencies</h5>
        <!--hr></hr-->
        <table id="paginationSimpleNumbers" class="text-white table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Country Origin</th>
                </tr>
            </thead>
            <tbody>
            {% for agency in agency_list %}
                <tr>
                    <td><a href="{{ agency.get_absolute_url }}">{{ agency.name }}, {{ agency.abbreviation }}</a></td>
                    <td>{{ agency.country }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <!--/section-->
    <!-- /.Agency list info -->
</main>
{% endblock table_page_content %}
<!-- /.Agency area content -->