<!-- templates/agencies/agency_detail.html -->

{% extends 'apis_general/_base_apis_general.html' %}
{% load static %}
{% load i18n %}

<!-- Tab title -->
{% block title %}{{ agency.name }}{% endblock title %}
<!-- /.Tab title -->

<!-- Agency area content -->
{% block apis_general_page_content %}
	<!-- Section: Agency detail info -->
    <section id="agency-detail-" class="container">
        <h5>{{ agency.name }}</h5>
        <hr></hr>
        <p>Abbreviation: {{ agency.abbreviation }}</p>
        <p>Country: {{ agency.country }}</p>
        <p>Date formed: {{ agency.date_formed }}</p>
        <p>Website: {{ agency.website }}</p>
    </section>
    <!--/section-->
    <!-- /.Agency detail info -->
</main>
{% endblock apis_general_page_content %}
<!-- /.Agency area content -->